/* styles for contact.html */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #777;
    background-image: url("../images/natural_paper.png");
    /* background-size: repeat; */
}

header {
    background-color: #fff;
    border-bottom: solid 2px #ccc;
    height: 60px;
}

h1 {
    float: left;
    width: 13%;
    background-color: #4AAAA5;
    color: #eee;
    padding: 15px 10px 15px 10px;
    font-size: 24px;
    text-align: center;
    /* margin-top: 5px; */
    margin-left: 25%;

    
}

h2 {
    color: #4AAAA5;
    border-bottom:solid 2px #ddd; 
    padding-bottom: 15px;
    border-radius: 2px;
    margin-bottom: 2%;
}

.links {
    float: right;
    width: 20%;
    margin-right:25%;
    margin-top: 30px;
}

.links a {
    float:right;
    margin-left: 1%;
}

.container {
    border: 5px;
    background-color: #fff;
    padding: 20px;
    
    margin:auto;
    margin-top: 1%;
    margin-bottom: 10%;
    clear: both;
    overflow: auto;
    width: 50%;
    border: solid 1px #ddd;
}

#bio-main {
    /* position: relative; */
}

footer {
    background-color: #666;
    text-align: center;
    font-size: 12px;
    color: #eee;
    padding: 30px 10px 3px 10px;
    border-top: solid 8px #4AAAA5;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p {
    font-size: 24px;
}

.port-images img {
    margin:20px;
}